SECRET_KEY=dev-secret-change-me
DEBUG=True
DB_ENGINE=sqlite  # or 'postgres'
POSTGRES_DB=botdb
POSTGRES_USER=bot
POSTGRES_PASSWORD=botpass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
TIME_ZONE=America/Sao_Paulo
